.explore{
   display: flex;
    flex-direction: column;
    gap:20px;

}
.explore h1{
    color: bisque;
    font-weight: 500;

}
.explore-text{
    max-width: 60%;
    color: antiquewhite;
    
}
.explore-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-list::-webkit-scrollbar{
    display: none;

}
.explore-list-item img{
    width: 12.5vw;
    height: 12.5vw;
    min-width: 80px;
    min-height: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;


}
.explore-list-item p{
    margin-top: 10px;
    color:#f9efce;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore hr{
    margin: 10px 0px;
    height: 2px;
    background-color: antiquewhite;
    border: none;
}
.explore-list-item .active{
    border: 4px solid whitesmoke;
    padding: 2px;
}
@media (max-width:1050px){
    .explore-text{
        max-width: 100%;
        font-size: 14px;
    
    }
}